/* .Bdbc\(orange\) {
  border-bottom-color: orange;
}
.Bdbs\(s\) {
  border-bottom-style: solid;
}
.Bdbw\(0\.2rem\) {
  border-bottom-width: 0.2rem;
}
.Bgc\(black\) {
  background-color: black;
}
.Bgc\(red\) {
  background-color: red;
}
.Bgz\(cv\) {
  background-size: cover;
}
.Bgr\(nr\) {
  background-repeat: no-repeat;
}
.C\(\#92278f\) {
  color: #92278f;
}
.D\(b\) {
  display: block;
}
.D\(if\) {
  display: inline-flex;
}
.Fw\(b\) {
  font-weight: bold;
}
.Fz\(5\.6rem\) {
  font-size: 5.6rem;
}
.Fz\(62\.5\%\) {
  font-size: 62.5%;
}
.P\(2rem\) {
  padding: 2rem;
}
.Ta\(c\) {
  text-align: center;
}
.W\(100\%\) {
  width: 100%;
}
.W\(20\%\) {
  width: 20%;
}
.W\(25\%\)--lg {
  width: 25%;
}
.W\(33\%\)--md {
  width: 33%;
}
.W\(50\%\)--sm {
  width: 50%;
}
.W\(60\%\) {
  width: 60%;
} */
